{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link href="static/css/worldcup.css" rel="stylesheet"> 
{% endblock %}

{% block title %}
Soccer Website 
{% endblock %}

{% block content %}
<div class="container">

    <div class="row" >
        <div class="col-md-12" >
            <div class="wells lead-wells " >
                <center><h1>Soccer Website</h1></center>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/matches">Matches</a></li>
                <li><a href="/nationalteams">National Teams</a></li>
                <li><a href="/players">Players</a></li> 
            </ul>
            </div>
        </div>
    </nav>


</div>
{% endblock %}


