{% extends "base.html" %}

{% block content %}
{{super()}}
<div class="container">

    <h1 class="center">What do you know about World Cup?</h1>

    <p  class="center">Explore for some interesting facts about 2014 Brazil World Cup</p>


    <div class="row" ng-controller="valuation">
        <div ng-show="loaded" class="col-md-6 center">
            <h2>Most strong league is in</h2>

            <h1 class="io">{{res.maxleague.0}}</h1>

            <h3>contributes {{ res.maxleague.1}} players in 2014 World Cup </h3>
        </div>
        <div ng-show="loaded" class="col-md-6 center">
            <h2>Most efficient confederation</h2>

            <h1 class="io">{{res.maxconfederation.0 }}</h1>

            <h3>scores {{ res.maxconfederation.1 }} goals in 2014 World Cup</h3>
        </div>
    </div>


    <!--div class="row" ng-controller="valuation">
        <div ng-show="loaded" class="col-md-8 col-md-offset-2">
            <h2 class="center">Overall Stats</h2>
            <table class="table table-hover scorers">
                <thead>
                <tr>
                    <th>Star Players</th>
                    <th>Current Coach</th>
                    <th>Most Rec. Champion In </th>
                </tr>
                </thead>
                <tbody>
                <tr>              
                    <td class="center"><a href="messi.html">Lionel Messi</a></td>
                    <td rowspan="3">Martino</td>
                    <td rowspan="3"><a href="2014.html">1986</a></td>
                </tr>
                <tr>              
                    <td class="center"><a href="messi.html">Diego Maradona</a></td>
                </tr>
                <tr>              
                    <td class="center"><a href="messi.html">Angel Di Maria</a></td>
                </tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div-->

    <div class="row" ng-controller="valuation">
        <div ng-show="loaded" class="col-md-12">
            <h2 class="center">Most welcome games </h2>
            <table class="table table-hover scorers">
                <thead>
                <tr>
                    <th> Stage </th>
                    <th>  Date </th>
                    <th> Home </th>
                    <th> Away </th>
                    <th> Score </th>
                    <th> Attendance </th>
                </tr>
                </thead>
                <tbody>
                {% for item in res.matches %}
                <tr >
                    <td>{{ item.0 }}</td>
                    <td>{{ item.1 }}</td>
                    <td>{{ item.2 }}</td>
                    <td>{{ item.3 }}</td>
                    <td>{{ item.4 }}</td>
                    <td>{{ item.5 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-controller="headtohead">

            <div class="center">
                
            <form action="/get_NationalTeam" method="post">
                 <select name="cyear">
              {% for i in range(2014,1997,-4) %}
                <option  value="{{ i }}" >{{ i }}</option>
             {% endfor %}
             </select>
            </form>

            </div>

        <div ng-show="teamsLoaded" class="col-md-6" ng-repeat="which in ['first', 'second']">

            <div ng-show="teamReady[which]" >

                <h1 class="io">Home</h1>

                <h2> </h2>
                <table class="table table-hover players">
                    <thead >
                    <tr>
                        <th>confederation </th>
                        <th>total goals </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat-end>
                    {% for item in res.confHomeGoals %}
                    <tr >
                        <td>{{ item.0 }}</td>
                        <td>{{ item.1 }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>

        <div ng-show="teamsLoaded" class="col-md-6" ng-repeat="which in ['first', 'second']">

            <div ng-show="teamReady[which]" >

                <h1 class="io">Away</h1>

                <h2> </h2>
                <table class="table table-hover players">
                    <thead >
                    <tr>
                        <th>confederation </th>
                        <th>total goals </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat-end>
                    {% for item in res.confAwayGoals %}
                    <tr >
                        <td>{{ item.0 }}</td>
                        <td>{{ item.1 }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>




    <!--div class="row">
            <div class="resource col-md-4">
                <h2>List of teams</h2>
                <ul class="list-unstyled features">
                    <li><i class="fa fa-table"></i> Extractor</li>
                </ul>
                <ul class="list-inline">
                    <li>
                        <a href="https://import.io/data/set/?mode=loadSource&amp;source=ab0b0a83-c857-4314-912c-80ed9271b990"
                           class="io" target="_blank">View data</a></li>
                    <li>
                        <a href="https://import.io/data/integrate/?source=ab0b0a83-c857-4314-912c-80ed9271b990#js"
                           class="io" target="_blank">Integrate source</a></li>
                    <li><a href="https://import.io/data/mine/?id=ab0b0a83-c857-4314-912c-80ed9271b990"
                           class="io" target="_blank">Source details</a></li>
                </ul>
            </div>
            <div class="resource col-md-4">
                <h2>Squad</h2>
            </div>
            <div class="resource col-md-4">
                <h2>Goals</h2>
            </div>
    </div-->


</div>
{% endblock %}


