{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class="container">
	<table class="table">
		<tr>
			<th>Time</th>
			<th>Team A</th>
			<th>Team B</th>
			<th>Score</th>
			<th>Audiences Number</th>
		</tr>
		{% for mdate, home, away, mscore, attendance in data %}
		<tr>
			<td>{{ mdate }}</td>
			<td><a href="getteambyname/{{home}}">{{ home }}</a></td>
			<td><a href="getteambyname/{{away}}">{{ away }}</a></td>
			<td>{{ mscore }}</td>
			<td>{{ attendance }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}