{% extends "base.html" %}
{% block content %}
{{super()}}
<style>
#left{
	float : left;
	width: 33%;
}
#middle{
	float: left;
	width: 33%;
	
	
}
#right{
	float : left ;
	width: 33%;
	
	
}
</style>
<div class="container">
	<div>
		 <center><h1>National Teams in World Cups</h1></center>
		<div>
			<div id = "left">
			
			<li > <b>2006 </li>

			{% for ccode in year_2006 %}
			<ul>
				<li> <a href="getteambyname/{{ccode[0]}}">{{ ccode[0] }}</a>
				<img class="flag" src="http://static.bbci.co.uk/onesport/2.8.1193/images/flags/vide-code/{{ccode[0].lower()}}.png"></li>
			</ul>
			{% endfor %}
			</div >
			
			<div id = "middle">
				<li > <b>2010 </li>
				{% for ccode in year_2010 %}
			<ul>
				<li> <a href="getteambyname/{{ccode[0]}}">{{ ccode[0] }}</a>
				<img class="flag" src="http://static.bbci.co.uk/onesport/2.8.1193/images/flags/vide-code/{{ccode[0].lower()}}.png"></li>
			</ul>
				{% endfor %}
			</div>
			
			<div id = "right">
				<li> <b>2014 </li>
				{% for ccode in year_2014 %}
			<ul>
				<li> <a href="getteambyname/{{ccode[0]}}">{{ ccode[0] }}</a>
				<img class="flag" src="http://static.bbci.co.uk/onesport/2.8.1193/images/flags/vide-code/{{ccode[0].lower()}}.png"></li>
			</ul>
				{% endfor %}
			</div>

			
		</div>


		<div>
		<div>

	</div>

    <!--table class="table">
        <tr>
            <th>2006 </th>
            <th>2010 </th>
            <th>2014 </th>
        </tr>
        {{year_2014}}
    </table-->

</div>
{% endblock %}