{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="row" >
        <center><h2>Players</h2></center>
    </div>
  	<div>
        <form>
             <select name="ccodesel" id="ccodesel">
          {% for ccode in res.ccode %}
            <option  value="{{ ccode[0] }}" >{{ ccode[0] }}</option>
         {% endfor %}
         </select>

             <select name="pos" id="pos">
            <option  value="All" >All</option>
            <option  value="GK" >GK</option>
            <option  value="FW" >FW</option>
            <option  value="MF" >MF</option>
            <option  value="DF" >DF</option>
         </select>

        </form>

  	</div>
    <table class="table">
		<tr>
			<th>Name</th>
			<th>Nationality</th>
			<th>Date of Birth</th>
			<th>Position</th>
			<th>Club</th>			
		</tr>
		{% for dname, pnationality, pdob, pposition, clname in players %}
		<tr class = "All {{pnationality}} {{pposition}}">			
			<td><a href="getteambyname/{{dname}}">{{ dname }}</a></td>	
			<td>{{ pnationality }}</td>		
			<td>{{ pdob }}</td>
			<td>{{ pposition }}</td>
			<td>{{ clname }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/jquery-1.11.2.js"></script>

<script src="../static/js/onselect.js"></script>
{% endblock %}