{% extends "base.html" %}
{% block content %}
{{super()}}
<div class="container">
    <center><h1>Team Name: {{name}}</h1></center>
    <br>
    <div class = "team" style = "">	
    			
			<h1><font color = "green ">Country : {{country}} </font></h1>	
			<br>
			<h1 ><font color = "blue ">Countinent : {{confederation}}</font></h1>	
			<br>
			<h1>Captain : {{pname}}</h1>
			<br>			
	</div>
</div>


{% endblock %}